:root {
    --background: #1e1e2e;
    --foreground: #faebd7; 
    --primary: #f796ae;
    --secondary : #a0faa0;
}

* {
    padding: 0;
    margin: 0;
    font-family: monospace;
}

body {
    max-width: 600px;
    margin: auto;
    margin-top: 24px;
    background-color: var(--background);
    color: var(--secondary);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin: 8px;
}

h1 {
    color: var(--primary);
    font-size: xx-large;
    
}

nav > ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 10px;
}

a {
    text-underline-offset: 20%;
    padding: 2px 4px 4px 4px;
    color: var(--primary);
    transition: all 240ms;
}

nav > ul > li > a:hover {
    background-color: var(--primary);
    color: var(--background);
    font-weight: bold;
}

main {
    margin: 18px;
}

h2 {
    font-size: x-large;
    margin-bottom: 8px;
}

#greet {
    display: inline-block;
    min-width: 45px;
    transition: opacity 0.5s ease-in-out;
}

.para, p {
    color: var(--foreground);
    font-size: large;
    padding-left: 20px;
    line-height: 110%;
}


.name-section {
    display: flex;
    gap: 10px;
    align-items: center;
}

.fidget {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background-color: var(--secondary);
    transition: all 240ms;
}

.fidget:hover {
    height: 22px;
    width: 22px;
    border-radius: 15%;
    animation: roll 2s infinite forwards;
    background-color: var(--primary);
}

.spacer {
    height: 40px;
}

.body-list > li {
    margin-top: 8px;
}

.body-list > li > a {
    text-decoration: none;
    transition: all 240ms;
}

.body-list > li > a:hover {
    text-decoration: underline;
}

.skills {
    user-select: none;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.skills > div {
    border: 2px solid var(--primary);
    padding: 8px;
    border-radius: 10px;
    background-color: var(--primary);
    color: var(--background);
    font-weight: bolder;
    transition: all 340ms;
}

.skills > div:hover {
    background-color: var(--background);
    color: var(--foreground);
}

.grid {
    display: grid;
    grid-template-columns: 24px 24px 24px 24px;
    grid-template-rows: 24px 24px;
    gap: 8px;
    justify-content: center;
}

.grid > div {
    border-radius: 20%;
    cursor: pointer;
    transition: all 1000ms;
}

.toast {
    position: fixed;
    bottom: 15px;
    right: 15px;
    padding: 8px;
    border: 2px solid;
    border-radius: 24px;
    transition: all 500ms;
}

.hidden {
    display: none;
}


@keyframes roll {
   from {
    rotate: 0deg;
   } 
   to {
    rotate: 360deg;
   }
}

@keyframes toast-in {
    0% {
        opacity: 0;
        scale: 1;
    }
    50%{
        scale: 1.2;
    }
    100% {
        opacity: 1;
        scale: 1;
    }
}
